<div id="choco">
    <div class="bar">
        <div class="chunk-wrapper">
            <div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div><div class="chunk"></div>
        </div>
    </div>
    <div class="packaging-wrapper">
        <div class="packaging"><div class="heart-wrapper"><div class="heart"></div></div><div class="packaging-shadow"></div></div>
    </div>
</div>