<div class="sidebar">
    <div class="sidebar-row">
        <a class="sidebar-button" href="{{ site.baseurl }}/">
            <div class="sidebar-div">
                Home
            </div>
        </a>
        <div class="sidebar-button dropdown">
            <div class="sidebar-div">
                <b>Assignments</b>
            </div>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}/W01"><div class="dropdown-link">W01</div></a>
                <a href="{{ site.baseurl }}/W02"><div class="dropdown-link">W02</div></a>
                <a href="{{ site.baseurl }}/W03"><div class="dropdown-link">W03</div></a>
                <a href="{{ site.baseurl }}/W04"><div class="dropdown-link">W04</div></a>
                <a href="{{ site.baseurl }}/W05"><div class="dropdown-link">W05</div></a>
            </div>
        </div>
        <a class="sidebar-button" href="{{ site.baseurl }}/TXT/mylog.txt">
            <div class="sidebar-div">
                Logs
            </div>
        </a>
        <a class="sidebar-button" href="{{ site.urlgithub }}">
            <div class="sidebar-div">
                Github
            </div>
        <a class="sidebar-button" href="{{ site.baseurl }}/TXT/myrank.txt">
            <div class="sidebar-div">
                Rank
            </div>
        </a>
        <a class="sidebar-button" href="{{ site.baseurl }}/TXT/mypubkey.txt">
            <div class="sidebar-div">
                Key
            </div>
        </a>
        </a>
    </div>
</div>
