html {
    font-family: 'Century Gothic', monospace;
    color: #f1ffe0;

    height: 100vh;
    background: #1e1721;
}

body {
    margin: 0;
    height: 100%;
    display: flex;

    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
    padding: 10px;
    background: #463534;

    border-radius: 5px;
}

a {
    font-weight: 700;
    color: #988171;
    text-decoration: none;
}

h1, h2 {
    font-weight: 600;
    color: #f1ffe0;
}

img {
    width: 100%;
}

#title {
    color: #988171;
}

#author {
    color: #f1ffe0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar {
    background: rgb(70, 53, 52, 0.5);
    width: 300px;
    height: 100%;
}

.content {
    padding: 20px;
    padding-top: 40px;
    width: 100%;

    overflow-y: scroll;
}

.sidebar-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 60px;
}

.sidebar-button > .sidebar-div {
    transition: 0.2s;

    font-size: 18px;

    height: 20px;
    background: #988171;
    margin-bottom: 5px;
    padding: 15px;
}

.sidebar-button:hover > div {
    color: rgba(40, 48, 124, 1);
    background: rgb(152, 129, 113, 0.75);

}

.dropdown-content {
    display: flex;
    height:  0;
    flex-direction: column;

    overflow: hidden;
    padding: 0 !important;
    margin-bottom: 5px;

    transition: 0.2s;
}

.dropdown-link {
    display: block;
    height: 20px;
    padding: 10px;
    background-color: #1e1721;
    color: rgba(42, 30, 92);
}

.dropdown-link:hover {
    background-color: #463534;
}

.dropdown:hover .dropdown-content {
    height: 80px;
}
